defmodule <%= client_module_name %>.Client do
  use Riffed.Client,
    auto_import_structs: false,
    service: <%= service_name %>,
    structs: <%= client_module_name %>.Model,
    client_opts: [
      retries: 3,
      framed: true],
    import: <%= inspect(function_names) %>

  def start_link({host, port}, connection_timeout) do
    options = [name: __MODULE__, timeout: connection_timeout]
    GenServer.start_link(__MODULE__, {host, port}, options)
  end
end
